html {
  cursor: default;
}

[v-cloak] {
  display: none;
}

/* *** SketchUp style overrides *** */

/* Text size can probably benefit from being a tad smaller. But that will
affect the vertical flow of the layout. This is something to revisit later. */

body,
.list-group-item,
.dropdown-menu {
  /* P11 background color */
  background-color: #f1f1f6;
}

.list-group-item:hover {
  background-color: unset;
}

.dropdown-item:hover {
  /* P11 toolbar selection color */
  background-color: #dcedf9;
}

.dropdown-divider {
  /* P11 divider color */
  border-top-color: #e0e1e9;
}

.btn-text-dark:hover {
  /* P11 button hover color */
  background-color: #ffffff;
}

.btn-icon-only:focus {
  /* Didn't find a good reference for this, using same as selected items */
  background-color: #dcedf9 !important;
}

.bg-selected {
  /* P11 toolbar selection color */
  background-color: #dcedf9 !important;
}

.text-warning {
  /* Not really SketchUp style */
  /* The default Modus warning color is an orange with a poor contract against
  the background. This variant is darker, leaning more toward red */
  color: #e46325 !important;
}

/* *** Footer item of filtered lists *** */

/* Vertically align the "Clear Filter" list item */
.es-filter-footer {
  display: block !important;
  text-align: center !important;
}

.es-filter-footer .modus-icons {
  vertical-align: bottom;
}

.es-filter-footer span {
  line-height: 24px;
  vertical-align: bottom;
}

/* *** Drag and Drop *** */
.es-drag-handle {
  font-size: 24px;
  margin-left: -8px;
  padding-right: 8px;
  /* https: //developer.mozilla.org/en-US/docs/Web/CSS/cursor */
  cursor: -webkit-grab;
  /* Chrome 68+ */
  cursor: grab;
}

.es-drag-over.es-drag-before:before,
.es-drag-over.es-drag-after:after {
  content: '';
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #333;
}

.es-drag-over.es-drag-before:before {
  top: -1px;
}

.es-drag-over.es-drag-after:after {
  bottom: -1px;
}
